<%= link_to user_path(user_link), class: 'icon-text has-text-link' do %>
    <span class="icon"><img src="<%= user_link.image %>" class="is-rounded"></span>
    <span><%= user_link.name %></span>
<% end %>
