<h1 class="title is-1">Challenges</h1>
<% if @challenges.empty? %>
    <p>
        There are no challenges yet.
    </p>
    <p>
        <%= link_to 'New challenge', new_challenge_path, class: 'button is-primary' %>
    </p>
<% else %>
    <p>
    </p>
    <div class="content">
        <ul>
            <% @challenges.each do |c| %>
                <li>
                    <%= link_to c.title, c %>
                </li>
            <% end %>
        </ul>
    </div>
<% end %>
