<h1 class="title is-1">New challenge</h1>

<%= form_with model: @challenge do |f| %>
    <%= render partial: 'shared/fields', locals: {
        form: f,
        fields: [
            { field: :title, required: true },
            { field: :max_size, label: 'Maximum size (bytes)', required: true, field_type: :number_field },
            { field: :rules, field_type: :text_area },
            { field: :start, label: 'Submission open date', required: true, field_type: :datetime_local_field },
            { field: :deadline, label: 'Submission deadline', required: true, field_type: :datetime_local_field },
            { field: :voting_deadline, label: 'Voting deadline', required: true, field_type: :datetime_local_field },
        ],
    } %>
    <%= render partial: 'shared/required_legend' %>
    <%= f.submit class: 'button is-primary' %>
<% end %>
