<h1 class="title is-1">
    <%= @challenge.title %>
</h1>
<h2 class="subtitle">
    Created by
    <%= render partial: 'shared/user_link', object: @challenge.user %>
</h2>

<% unless @challenge.rules.empty? %>
    <h2 class="is-size-3">Rules</h2>
    <pre><%= @challenge.rules %></pre>
<% end %>
