<h1 class="title is-1">
    <%= @challenge.title %>
</h1>
<h2 class="subtitle">
    Created by
    <%= render partial: 'shared/user_link', object: @challenge.user %>
    &bull;
    Size limit: <%= @challenge.max_size %> bytes
    &bull;
    <% now = DateTime.now %>
    <% if now < @challenge.start %>
        Not yet open
    <% elsif now < @challenge.deadline %>
        Accepting submissions
    <% elsif now < @challenge.voting_deadline %>
        Voting in progress
    <% else %>
        Closed
    <% end %>
</h2>

<% unless @challenge.rules.empty? %>
    <h2 class="is-size-3">Rules</h2>
    <pre><%= @challenge.rules %></pre>
<% end %>
